html {
  font-size: 15px;
}

.navbar {
  margin-bottom: 2rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.nav-sidenav {
  font-size: .9rem;
}

.nav-sidenav .nav-link {
  padding: .2rem .5rem;
  color: #666;
}

.nav-sidenav .nav-link:hover {
  color: #0275d8;
}

.nav-sidenav .nav-link.active {
  font-weight: 500;
  color: #333;
}
