{{#bs-navbar full=true}}
  <a class="navbar-brand">
    Ember Bootstrap
  </a>
  {{#bs-nav variant="navbar"}}
    {{#bs-nav/item}}
      {{bs-nav/link "Getting Started" "index"}}
    {{/bs-nav/item}}
    {{#bs-nav/item}}
      {{bs-nav/link "Components" "comps"}}
    {{/bs-nav/item}}
  {{/bs-nav}}
{{/bs-navbar}}

{{outlet}}
