<div class="container">
  <div class="row">
    <main class="col-md-9">
      {{outlet}}
    </main>
    <aside class="col-md-3">
      {{#bs-nav variant="sidenav"}}
        {{#each-in navLinks as |link text|}}
          {{#bs-nav/item}}
            {{bs-nav/link text link}}
          {{/bs-nav/item}}
        {{/each-in}}
      {{/bs-nav}}
    </aside>
  </div>
</div>
